@import url("reset.css");
/* RWD reset */
img{
	max-width:100%;
	height:auto;
	}
	
/* 全域border-box */
	
	*,*::before,*::after{
	box-sizing: border-box;
	}

body{
    background-color: #F7F5F2;
	font-family: 'Roboto Serif', serif;
}
a{
	text-decoration: none;
}

.ma-0{
	margin: 0 auto;
}
.mw-1200{
	max-width: 1200px;
}
/* header */
header{
  width: 100%;
  background-color: #F7F5F2;
  box-shadow: 0 5px 7px #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 5;
}
.container{
  /* max-width: 1200px; */
/* margin: 0 auto; */
  display: flex;
justify-content: space-between;
}
.logo{
width: 82px;
margin-top: 10px;
margin-left: 10%;
}
.logo img{
width: 100%;
display: block; 
}
nav{
padding-right: 5%;
}
.menu{
display: flex;
}
.menu a{
color:#3E4459;
font-size: 0.875rem;
display: inline-block;
transition:  transform .6s, border-bottom .8s;
border-bottom: 2px solid rgba(163, 186, 217, 0);
}
.menu li{
padding: 2rem 1.5rem;
}
.menu li:hover > a{
transform: translateY(-5px);
border-bottom: 2px solid rgba(163, 186, 217, .7);
}
.explore{
position: relative;
}
.explore ul{
display: none;
width: 115%;
position: absolute;
top: 100%;
left:0;
background-color: rgb(255, 255, 255, .7);
backdrop-filter: blur(3px);
border-radius: 0 0 5px 5px;
}
.explore:hover ul{
display: block;
}

/* bread crumb */
.bread-crumb-wrap ol{
    display: flex;
    margin-top: 25px;
    margin-left: 110px;
    margin-bottom: 75px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
.FAQ{
    font-size: 7.5em;
    color: #3E4459;
    margin-left: 110px;
    font-weight: 400;
}
.FAQ::after{
    content: 'FAQ';
    color:rgb(213,221,232);
    position: relative;
    right: 235px;
    z-index:-1;
}
.question-group{
    margin-top: 2.916667%;
    margin-left: 31%;
}
/* .question-group li + li{
    position: relative;
}
.question-group li + li::before{
    content: '';
    display: block;  
    width: 95.187461%;
    height: 1px;
    background-color: #3E4459;
    position: absolute;
    top: 0;
}
.question-group li + li::after{
    content: '';
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
    background-color: #3E4459;
    position: absolute;
    top: -0.1875rem;
}
.question{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}
.question p{
    font-size: 1.0625rem;
    width: 65%;
    color: #3E4459;
    line-height: 1.5;
}
.question i{
    margin-right: 8%;
}
.fa-add:before, .fa-plus:before {
    content: "\2b";
    vertical-align: -webkit-baseline-middle;
} */

dt{
  font-size: 18px;
  width: 90%;
  color: #3E4459;
  line-height: 1.5;
  padding: 30px 0;
  position: relative;
}
dt::before{
  content: '';
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background-color: rgb(213,221,232);
  position: absolute;
  top: 40px;
  left: -20px;
}
dd{
  font-size: 1rem;
  width: 90%;
  color: #000;
  line-height: 1.7;
  padding: 35px 0;
}
.plusminus{
  font-size: 30px;
  color: #3E4459;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 87px;
}
/* footer */
footer{
    background-color: #F7F5F2;
    color: #3E4459;
    font-family:'Roboto Serif', serif;
    margin-top: 50px;
  }
  a{
    text-decoration: none;
    color: #3E4459;
  }
  /* .footer-container{
    padding: 100px 10%;
  } */
  .footer-list-group{
    display: flex;
    padding: 35px 10%;
    justify-content: space-between;
  }
  .footer-list:first-child .footer-list-item ul{
    display: flex;
    justify-content: space-around;
  }
  .footer-list-title{
    margin-bottom: 16px;
  }
  .mt5{
    margin-top: 7px;
  }
  label{
    /* line-height: 1.4375em; */
    padding: 0px;
    display: block;
    max-width: 100%;

}
  input{
    width: 300px;
    border: none;
    outline:none;
    background: none;
    height: 2em;
  }
  input[type="email"]{
    border-bottom: 1px solid #3E4459;
  }
  button{
    border: none;
    background-color: transparent;
  }
  button:hover{
    cursor: pointer;
  }
  .copyright{
    font-size: 14px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 20px;
    }