header{
    width: 100%;
    background-color: #F7F5F2;
    box-shadow: 0 5px 7px #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    /* max-width: 1200px; */
	/* margin: 0 auto; */
    display: flex;
	justify-content: space-between;
}
.logo{
	width: 82px;
	margin-top: 10px;
	margin-left: 10%;
}
.logo img{
	width: 100%;
	display: block; 
}
nav{
	padding-right: 5%;
}
.menu{
	display: flex;
}
.menu a{
	color:#3E4459;
	font-size: 0.875rem;
}
.menu li{
	padding: 2rem 1.5rem;
}