@import url("reset.css");
:root{
    --main-color: #3E4459;
    --black: #333;
    --main-font-family: 'Roboto Serif', serif;
    --second-font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F7F5F2;
	font-family: 'Roboto Serif', serif;
}
/* 全域border-box */
*,*::before,*::after{
	box-sizing: border-box;
	}
a{
	text-decoration: none;
}
h3{
    font-size: 2.25rem;
}
.ma-0{
	margin: 0 auto;
}
.mw-1200{
	max-width: 1200px;
}

/* header */
header{
    width: 100%;
    background-color: #F7F5F2;
    box-shadow: 0 5px 7px #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    /* max-width: 1200px; */
	/* margin: 0 auto; */
    display: flex;
	justify-content: space-between;
}
.logo{
	width: 82px;
	margin-top: 10px;
	margin-left: 10%;
}
.logo img{
	width: 100%;
	display: block; 
}
nav{
	padding-right: 5%;
}
.menu{
	display: flex;
}
.menu a{
	color:#3E4459;
	font-size: 0.875rem;
	display: inline-block;
	transition:  transform .6s, border-bottom .8s;
	border-bottom: 2px solid rgba(163, 186, 217, 0);
}
.menu li{
	padding: 2rem 1.5rem;
}
.menu li:hover > a{
	transform: translateY(-5px);
	border-bottom: 2px solid rgba(163, 186, 217, .7);
}
.explore{
	position: relative;
}
.explore ul{
	display: none;
	width: 115%;
	position: absolute;
	top: 100%;
	left:0;
	background-color: rgb(255, 255, 255, .7);
	backdrop-filter: blur(3px);
	border-radius: 0 0 5px 5px;
}
.explore:hover ul{
	display: block;
}
/* breadcrumb */
.bread-crumb-wrap{
	margin-top: 25px;
	margin-bottom: 80px;
}
.bread-crumb-wrap ol{
    display: flex;
    margin-left: 110px;
    margin-bottom: -25px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
/* banner圖片區 */
.banner-pic{
    width: 32.5833%;
    border-radius: 10% 10% 0 0;
}
.banner-pic img{
    width: 100%;
    border-radius: 250px 250px 0 0;
}
.banner-pic::after{
    content: url("image/sentiment/Group.png");
    position: absolute;
    animation:rotate 20s linear infinite ;
}
@keyframes rotate {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
  }
.wrap{
    
    max-width: 1920px;
}
/* .article h3::after{
    content: url();
    display: block;
    width: 100px;
    height: 100px;
} */
/* 文字介紹 */
.article{
    margin: -85px auto 50px;
    padding: 150px 15% 80px;
    background-image: url(image/sentiment/shadow-warm.jpg);
    background-position: right bottom;
}
.article h3{
    font-size: 2.25rem;
    color: #3E4459;
    margin-bottom: 1.875rem;
    text-align: center;
}
.article p{
    width: 74%;
    padding: 2.6667% 3.333333%;
    margin: 0 auto;
    font-size: 1.0625rem;
    line-height: 1.875rem;
    border: 1px dotted #666;
}
.collage-intro{
    margin-bottom: 50px;
}
/* 第一個個人情境設定 */
.collage-intro{
    text-align: center;
}
.rainy-focus-collage, .morning-yoga-collage{
    max-width: 996px;
    max-height: 676px;
    margin-bottom: 130px;
}
.pic-all{
    display: flex;
}
.pic-all > div:first-child{
    width: 292px;
    height: 669px;
}
.pic-all > div:first-child img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}
.pic-all > div:last-child{
    width: 704px;
}
.pic-section > div:last-child{
    width: 704px;
    height: 332px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}
.pic-section > div:last-child img{
    width: 686.67px;
    display: block;
}
.pic-section-small{
    display: flex;
    justify-content: space-evenly;
}
.pic-section-small > div:first-child{
    width: 346px;
    height: 332px;
    background-color: rgb(95,100,127);
    color: #ffffff;
}
.pic-section-small > div:last-child{
    width: 332px;
}
.pic-section-small > div:last-child img{
    width:332px;
    height:332px;
}
/* .mode-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.mode-name p{
    font-family: var(--main-font-family);
    font-size: 25px;
    font-weight: 500;
    padding-left: 31px;
    margin-bottom: 70px;
}
.mode-name p:first-child{
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 132px;
    margin-bottom: 15px;
}                     
.mode-name a .learn-more-btn{
	background-color: #3E4459;
	color: #ffffff;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: none;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
    margin-left: 170px;
}
.mode-name a .learn-more-btn:hover{
	background-color: #ffffff;
	color: #3E4459;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: 1px solid #3E4459;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}
/* 過場 */
.between-collage{
    width: 860px;
    font-size: 36px;
    text-align: center;
    color: var(--main-color);
    border: 2px dotted #666;
    padding: 20px 10px;
    margin: 0 auto 95px;
}
/* 第二個個人情境設定 */

.pic-section-2{
    display: flex;
    margin-bottom: 9px;
}
.pic-section-2 > :first-child{
    display: flex;
    width: 663px;
}
.pic-section-2 img.purifier{
    width: 656px;
    margin-right: 13px;
}
.yoga{
    width: 333px;
    height: 351px;
}
.mode-name-2{
    background-color: #969CB7;
    width: 333px;
    height: 314px;
    margin-left: 9px;
    margin-right: 6.5px;
}
.pic-window{
    width: 333px;
    height: 314px;
    margin-left: 6.5px;
    /* margin-left: 13px;
    margin-top: 9px; */
}
.pic-window img{
    width: 333px;
    height: 314px;
    vertical-align: top;
}
.mode-name-2 p{
    color: #ffffff;
    font-family: var(--main-font-family);
    font-size: 25px;
    font-weight: 500;
    padding-left: 31px;
    margin-bottom: 67px;
}
.mode-name-2 p:first-child{
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 120px;
    margin-bottom: 15px;
}                     
.mode-name-2 .learn-more-btn{
	background-color: #3E4459;
	color: #ffffff;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: none;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
    margin-left: 140px;
}
.mode-name-2 .learn-more-btn:hover{
	background-color: #ffffff;
	color: #3E4459;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: 1px solid #3E4459;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}
/* 圖片幻燈片 */
.carousel h3{
    margin-bottom: 65px;
    text-align: center;
}
.mode-img-group{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.mode-img-group li{
    width: 21%;
    margin: 0 2%;
    flex-shrink: 0;
    opacity: .7;
}
.mode-img-group li.active {
    opacity: 1;
}
.mode-img-group li img{
    width: 100%;
    vertical-align: top;
}
.arrow{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.arrow img{
    padding: 0 24%;
}
.arrow img:nth-child(2){
    transform: scale(-1);
}
/* 圖文區 */
.txt-pic{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 8%;
}
.txt{
    width: 40%;
    padding: 4%;
}
.txt p{
    color: #3E4459;
    font-size: 1.0625rem;
    line-height: 1.8;
}
.pic{
    width: 40%;
    padding-right: 5%;
}
.pic img{
    width: 100%;
    border-radius: 10px;
}
.call-to-action{
    width: 52%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #333;
}
/* footer */
footer{
    background-color: #F7F5F2;
    color: #3E4459;
    font-family:'Roboto Serif', serif;
    margin-top: 50px;
  }
  a{
    text-decoration: none;
    color: #3E4459;
  }
  /* .footer-container{
    padding: 100px 10%;
  } */
  .footer-list-group{
    display: flex;
    padding: 35px 10%;
    justify-content: space-between;
  }
  .footer-list:first-child .footer-list-item ul{
    display: flex;
    justify-content: space-around;
  }
  .footer-list-title{
    margin-bottom: 16px;
  }
  .mt5{
    margin-top: 7px;
  }
  label{
    /* line-height: 1.4375em; */
    padding: 0px;
    display: block;
    max-width: 100%;

}
  input{
    width: 300px;
    border: none;
    outline:none;
    background: none;
    height: 2em;
  }
  input[type="email"]{
    border-bottom: 1px solid #3E4459;
  }
  button{
    border: none;
    background-color: transparent;
  }
  button:hover{
    cursor: pointer;
  }
  .copyright{
	font-size: 14px;
	color: #9F9F9F;
	text-align: center;
	margin-bottom: 20px;
  }