@import url(reset.css);
:root{
    --main-color: #3E4459;
    --black: #333;
    --main-font-family: 'Roboto Serif', serif;
    --second-font-family: 'Montserrat', sans-serif;
}
.ma-0{
	margin: 0 auto;
}
.mw-1200{
	max-width: 1200px;
}
body{
    background-color: #F7F5F2;
    font-family: 'Roboto Serif', serif;
}
a{
    text-decoration: none;
}
/* header */
header{
    width: 100%;
    background-color: #F7F5F2;
    box-shadow: 0 5px 7px #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    /* max-width: 1200px; */
	/* margin: 0 auto; */
    display: flex;
	justify-content: space-between;
}
.logo{
	width: 82px;
	margin-top: 10px;
	margin-left: 10%;
}
.logo img{
	width: 100%;
	display: block; 
}
nav{
	padding-right: 5%;
}
.menu{
	display: flex;
}
.menu a{
	color:#3E4459;
	font-size: 0.875rem;
	display: inline-block;
	transition:  transform .6s, border-bottom .8s;
	border-bottom: 2px solid rgba(163, 186, 217, 0);
}
.menu li{
	padding: 2rem 1.5rem;
}
.menu li:hover > a{
	transform: translateY(-5px);
	border-bottom: 2px solid rgba(163, 186, 217, .7);
}
.explore{
	position: relative;
}
.explore ul{
	display: none;
	width: 115%;
	position: absolute;
	top: 100%;
	left:0;
	background-color: rgb(255, 255, 255, .7);
	backdrop-filter: blur(3px);
	border-radius: 0 0 5px 5px;
}
.explore:hover ul{
	display: block;
}
/* 麵包屑 */
.bread-crumb-wrap{
	margin-top: 25px;
	margin-bottom: 80px;
}
.bread-crumb-wrap ol{
    display: flex;
    margin-left: 110px;
    margin-bottom: -25px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
.slogan h1{
    font-size: 2.5rem;
    font-family: var(--main-font-family);
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 35px;
}
.slogan i{
    font-style: italic;
}
.slogan span{
   background: linear-gradient(to top, transparent 5%, #A3BAD9 30%, transparent 30%);
}
.slogan p{
    color: #333;
    margin-bottom: 35px;
    font-family: var(--main-font-family);
    font-size: 1.25rem;
    text-align: center;
}

/* banner區 */
.banner{
    background-color: #DEE4EB;
    padding-top: 6%;
    padding-bottom: 4.083333%;
    margin-bottom: 125px;
}
.picture{
    display: flex;
    justify-content: center;
    margin-bottom: 5.666666%;
}
.picture img{
    display: block;
    border-radius: 10px;
    margin: 0 1.916667%;
}
.feature ul{
    display: flex;
    justify-content: center;
}
.feature li{
    width: 9%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.feature img{
    display: block;
    margin: auto;
    margin-bottom: 15%;
}
.feature span{
    font-family: var(--second-font-family);
}
.definition{
    width: 70vw;
    color: var(--main-color);
    font-family: var(--second-font-family);
    font-size: 55px;
    font-weight: 600;
    line-height: 61px;
    text-align: center;
    margin-bottom: 180px;
}
/* 功能介紹 */
.main-container{
    background-image: url(image/index/bgc-noise-warm.jpg);
}
.container-inner{
    width: calc(100% - 80px);
}
.sentence{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 30px;
    margin-bottom: 75px;
    margin-left: 50px;
}
.title{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 23px;
}
.small-txt{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 35px;
}
.function{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.function-feature-list{
    height: 461px;
}
.function-feature-list li{
    background-color: #DEE4EB;
    padding: 26px 28px 26px 35px;
    margin-bottom: 23px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    display: block;
}
.txt{
    font-family: var(--main-font-family);
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
}
.txt h3{
    font-weight: 600;
}
.function-feature-pic img{
    width: 360px;
    border-radius: 10px;
}
.row-reverse{
    flex-direction: row-reverse;
}
.mt{
    margin-top: 120px;
}
.bg-white{
    background-color: #fff;
}
.columns3{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.column{
    width: 25.4%;
    padding-bottom: 50px;
}
.column-pic{
    margin-bottom: 40px;
}
.column-pic img{
    width: 300px;
    height: 300px;
    vertical-align: top;
}
.column-txt{
    padding-left: 4px;
    padding-right: 4px;
}
.column-txt h3, .column-txt p{
    font-family: var(--main-font-family);
    color: var(--main-color);
}
.column-txt h3{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 28px;
}
.column-txt p{
    text-align-last: left;
    line-height: 22px;
    padding-left: 8px;
    padding-right: 8px;
}
section.bg-white{
    padding-top: 50px;
    padding-bottom: 100px;
}
.small-sentence{
    font-size: 30px;
}
.title-dark-blue{
    color:var(--main-color);
    margin-bottom: 50px;
    position: relative;
}
.title-dark-blue::after{
    content: url(image/what_is_your_sentiment/Vector\ 1\ \(Stroke\).png);
    position: absolute;
    left: 725px;
    top: 20px;
}
/* .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.grid1 img{
    width: 300px;
    height: 300px;
} */
/* .grid{
    display: grid;
    width: 900px;
    border: 1px solid #ffffff;
    height: 900px;
    gap:10px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-item img{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
}
.grid1{
    grid-column: 1 / 2;
} */

.grid{
    width: 900px;
    margin: 0 auto 150px;
    display: flex;
    flex-direction: column;
}
.grid-column{
    width: 900px;
    display: flex;
}
.grid-item img{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.grid-item{
    border: 1px solid #ffffff;
}
.grid6{
    background-color: #AA9F91;
    width: 300px;
    height: 300px;
}
.grid7{
    width: 300px;
    height: 300px;
    background-color: #A7C0C6;
}
.call-to-action{
    font-family: var(--second-font-family);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 150px;
}
.call-to-action i{
    font-style: italic;
}
/* footer */
footer{
    background-color: #F7F5F2;
    color: #3E4459;
    font-family:'Roboto Serif', serif;
    margin-top: 50px;
  }
  a{
    text-decoration: none;
    color: #3E4459;
  }
  /* .footer-container{
    padding: 100px 10%;
  } */
  .footer-list-group{
    display: flex;
    padding: 35px 10%;
    justify-content: space-between;
  }
  .footer-list:first-child .footer-list-item ul{
    display: flex;
    justify-content: space-around;
  }
  .footer-list-title{
    margin-bottom: 16px;
  }
  .mt5{
    margin-top: 7px;
  }
  label{
    /* line-height: 1.4375em; */
    padding: 0px;
    display: block;
    max-width: 100%;

}
  input{
    width: 300px;
    border: none;
    outline:none;
    background: none;
    height: 2em;
  }
  input[type="email"]{
    border-bottom: 1px solid #3E4459;
  }
  button{
    border: none;
    background-color: transparent;
  }
  button:hover{
    cursor: pointer;
  }
  .copyright{
	font-size: 14px;
	color: #9F9F9F;
	text-align: center;
	margin-bottom: 20px;
  }